{% extends 'layouts/main.html' %}

{% block content %}
<div class="container-fluid">
    <div class="container-fluid card mt-3 p-4">
        <h3 class="">Input Data Siswa</h3>
        <hr>
        {% if pesan %}
        {% if status %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ pesan }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% else %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ pesan }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endif %}
        <form action="/home" method="post" enctype="multipart/form-data">
            <div class="row">
                {% if session['role'] == 'admin' %}
                <div class="col-md-6 mb-3">
                    <label for="jurusan" class="form-label">Jurusan</label>
                    <select class="form-select" id="jurusan" name="jurusan" required>
                        <option value="" disabled selected>Pilih Jurusan</option>
                        {% for jurusan in jurusan_list %}
                        <option value="{{ jurusan.id_jurusan }}" {% if session.get('jurusan') == jurusan.nama_jurusan %}selected{% endif %}>{{ jurusan.nama_jurusan }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="kelas" class="form-label">Kelas</label>
                    <select class="form-select" id="kelas" name="kelas" required>
                        <option value="" disabled selected>Pilih Kelas</option>
                        {% for kelas in kelas_list %}
                        <option value="{{ kelas.id_kelas }}" data-jurusan="{{ kelas.id_jurusan }}" {% if session.get('kelas') == kelas.id_kelas %}selected{% endif %}>{{ kelas.id_kelas }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% else %}
                <div class="col-md-6 mb-3">
                    <label for="jurusan" class="form-label">Jurusan</label>
                    <p class="form-control" style="background-color: #e9ecef; color: #495057;">{{ nama_jurusan }}</p> <!-- Teks statis dengan warna khusus -->
                </div>
                <div class="col-md-6 mb-3">
                    <label for="kelas" class="form-label">Kelas</label>
                    <p class="form-control" style="background-color: #e9ecef; color: #495057;">{{ kelas }}</p> <!-- Teks statis dengan warna khusus -->
                </div>
                {% endif %}
                <div class="col-md-6 mb-3">
                    <label for="semester" class="form-label">Semester</label>
                    <select class="form-control" id="semester" name="semester" required>
                        <option value="Ganjil" {% if session.get('semester') == 'Ganjil' %}selected{% endif %}>Ganjil</option>
                        <option value="Genap" {% if session.get('semester') == 'Genap' %}selected{% endif %}>Genap</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="tahun_ajaran" class="form-label">Tahun Ajaran</label>
                    <div class="d-flex align-items-center">
                        <input class="form-control" type="text" id="tahun_awal" name="tahun_awal" maxlength="4" style="width: 80px;" required value="{{ session.get('tahun_awal', '') }}">
                        <span class="mx-2">/</span>
                        <input class="form-control" type="text" id="tahun_akhir" name="tahun_akhir" maxlength="4" style="width: 80px;" required value="{{ session.get('tahun_akhir', '') }}">
                    </div>
                </div>                
                <h6>Mata Pelajaran</h6>
                {% if mapel %}
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <small class="text-muted">Mata Pelajaran 1: {{ mapel.mapel1 }}</small> 
                    </div>
                    <div class="col-md-6 mb-2">
                        <small class="text-muted">Mata Pelajaran 3: {{ mapel.mapel3 }}</small> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <small class="text-muted">Mata Pelajaran 2: {{ mapel.mapel2 }}</small> 
                    </div>
                    <div class="col-md-6 mb-2">
                        <small class="text-muted">Mata Pelajaran 4: {{ mapel.mapel4 }}</small> 
                    </div>
                </div>
                {% else %}
                <h6>Tidak ada mata pelajaran yang ditemukan untuk kelas ini.</h6>
                {% endif %}
            </div>
            
            <div class="mb-3">
                <label for="formFile" class="form-label">Pilih File CSV</label>
                <div class="row">
                    <!-- Input file -->
                    <div class="col-md-8 d-flex align-items-center">
                        <input class="form-control" type="file" id="formFile" name="file" required>
                    </div>
                    <!-- Button download -->
                    <div class="col-md-4 d-flex align-items-center mt-3">
                        <a href="{{ url_for('download_template') }}" class="btn btn-success">Download Template CSV</a>
                    </div>
                </div>
                <small class="text-danger">hanya mendukung file excel</small>
            </div>                       
            <div class="col-12">
                <button type="submit" name="preview" class="btn btn-primary">Preview</button>
            </div>
        </form>
        

        {% if preview_data %}
        <div class="accordion mt-4" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                        Preview Data CSV
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">NIS</th>
                                        <th scope="col">Nama Siswa</th>
                                        {% if mapel %}
                                            <th scope="col">{{ mapel.mapel1 }}</th>
                                            <th scope="col">{{ mapel.mapel2 }}</th>
                                            <th scope="col">{{ mapel.mapel3 }}</th>
                                            <th scope="col">{{ mapel.mapel4 }}</th>
                                        {% else %}
                                            <th scope="col">NILAI 1</th>
                                            <th scope="col">NILAI 2</th>
                                            <th scope="col">NILAI 3</th>
                                            <th scope="col">NILAI 4</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for hasil in preview_data %}
                                    <tr>
                                        <td>{{ hasil['nis'] }}</td>
                                        <td>{{ hasil['nama_siswa'] }}</td>
                                        <td>{{ hasil['mapel1'] }}</td>
                                        <td>{{ hasil['mapel2'] }}</td>
                                        <td>{{ hasil['mapel3'] }}</td>
                                        <td>{{ hasil['mapel4'] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="mt-3">
                            <form action="/home" method="post">
                                <button type="submit" name="simpan" class="btn btn-danger">Simpan</button>
                                <button type="submit" name="cancel" class="btn btn-warning">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}        
    </div>
</div>

<script>
    document.getElementById('jurusan').addEventListener('change', function() {
        filterKelas();
    });

    function filterKelas() {
        const selectedJurusan = document.getElementById('jurusan').value;
        const kelasSelect = document.getElementById('kelas');

        for (let option of kelasSelect.options) {
            if (option.value === "") continue; // Skip the default option
            const jurusan = option.getAttribute('data-jurusan');
            option.style.display = (jurusan === selectedJurusan) ? 'block' : 'none';
        }

        // Reset the selected value if the current selection is not valid
        if (kelasSelect.selectedIndex !== -1) {
            const selectedOption = kelasSelect.options[kelasSelect.selectedIndex];
            if (selectedOption.style.display === 'none') {
                kelasSelect.selectedIndex = 0;
            }
        }
    }

    // Trigger the filter function on page load to ensure the correct options are displayed
    document.addEventListener('DOMContentLoaded', function() {
        filterKelas();
    });
</script>
{% endblock %}
