{% extends 'layouts/main.html' %}

{% block content %}
<div class="container-fluid">
    <div class="card mt-3 p-4">
        <h3>Hasil Analisis Data</h3>
        <div class="mt-4">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>No</th>
                        <th>Kelas</th>
                        <th>Jurusan</th>
                        <th>Semester</th>
                        <th>Tahun Ajaran</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in enumerate(data, 1) %}
                    <tr>
                        <td>{{ index }}</td>
                        <td>{{ row.kelas }}</td>
                        <td>{{ row.jurusan }}</td>
                        <td>{{ row.semester }}</td>
                        <td>{{ row.tahun_ajaran }}</td>
                        <td>
                            <a href="{{ url_for('hasil_klastering', kelas=row.kelas, jurusan=row.jurusan, semester=row.semester, tahun_ajaran=row.tahun_ajaran) }}" class="btn btn-primary">Detail</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>                
            </table>
        </div>
    </div>
</div>
{% endblock %}
